/* Google Fonts */
body {
    font-family: 'Roboto', sans-serif;
}

/* Personalización adicional */
h2 {
    font-weight: bold;
    color: #333;
}

#products .card-body,
#reviews .card {
    background-color: #fff;
    border-radius: 8px;
}

/* Tarjetas de producto */
.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.card-title{
    font-weight: bold;
    color:black
    
}

.card-text{
    font-weight: bold;
    color:green;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-card .card-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilos adicionales */
h2 {
    font-weight: bold;
    color: #333;
}

@media (max-width: 768px) {
    /* Ajuste a 2 columnas en tablets */
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    /* Ajuste a 1 columna en dispositivos móviles */
    .product-grid {
        grid-template-columns: 1fr;
    }
}

/* Ajustes de botón */
button {
    font-weight: bold;
}

/* Mejora de responsividad */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        gap: 10px;
    }
}
